


:root{
    --gray:#878f99;
    --titlecolor: #fff;
}

h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}



h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}
h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}
h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}
h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}
h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}
h1{
    background-color: var(--gray);
    color: var(--titlecolor);
}

h3{
    background-color: var(--gray);
    color: var(--titlecolor);
}