



.container{
    background-color: #034f84;
    padding: 15px;
    display: flex;    
    /* Flex Direction Özellikler */

    /* flex-direction: row; // Default değer */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* flex-wrap Özelliği */

    /* flex-wrap: nowrap; //Default Değer */
    /* flex-wrap: wrap; // Responsive özelliği kazandırır. */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow özelliği */
    /* flex-direction ile flex-wrap özelliğini tek satırda yazmaya yarar. */
    /* flex-flow: flex-direction flex-wrap  */
    /* flex-flow: column wrap; */
}

.item{
    background-color: #f7786b;
    color: #fff;
    font-size: 25px;
    padding: 30px;
    margin: 20px;
}